/* ./# selectors written with help from: https://www.w3schools.com/cssref/css_selectors.php */


/* Overall background color for all site pages - to match the color of the logo background */
body 
{
    background-color: #fffef9;
}



/* NOTE: The following code blocks have been written with some help from the Penpot Inspect Tool, which was:
    - used to figure out initial positioning of all elements - any percentages were figured out 
        independently with some playing around (percentages so as to keep elements in the same place regardless of screen size)
    - used to determine hex values for colors and font size
    
    Penpot Inspect Tool was used on following elements after page mockup was created in the site independently */




/* Login Page Styles */

/* For the "ACCOUNT LOGIN" text */
.logintext
{
    /* Make the font Trebuchet MS, size 50, bold, and green */
    font-family: 'Trebuchet MS';
    font-size: 50px;
    color: #0b8800;
    font-weight: bolder;

    /* No matter what, set the text in the middle of the bottom part of the store logo */
    position: absolute;
    left: 36%;
    top: 45%;
}

/* For the "Forgot Credentials?" text */
.smallertext
{
    /* Make the font Helvetica, size 20, and green */
    font-family: 'Helvetica';
    font-size: 20px;
    color: #0b8800;
    font-weight: normal;

    /* No matter what, set the text around the middle of the left side of the screen */
    position: absolute;
    left: 3.5%;
    top: 57%;
}
/* When the cursor hovers over the "Forgot Credentials?" text, make the font yellow */
.smallertext:hover
{
    color: #d0d000;
}

/* For the "Create Account" text */
.smallertext2
{
    /* Make the font Helvetica, size 20, and dark green */
    font-family: 'Helvetica';
    font-size: 20px;
    color: #086200;
    font-weight: bold;

    /* No matter what, set the text around the middle of the right side of the screen, centered below the "Sign In as Customer" button */
    position: absolute;
    left: 83.5%;
    top: 61%;
}
/* When the cursor hovers over the "Create Account" text, make the font dark yellow */
.smallertext2:hover
{
    color: #a8a800;
}


/* For the "Sign In as Customer" button */
.accountButton
{
    /* Make the button dark green;
        Referenced from: https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_color */
    background-color: #045B00;

    /* Make the font Helvetica, size 20, and white */
    font-family: 'Helvetica';
    font-size: 20px;
    color: white;
    font-weight: normal;

    /* No matter what, set it around the middle of the right side of the screen */
    position: absolute;
    left: 80%;
    top: 58%;
    /* Make the button 240 by 34 pixels */
    width: 240px;
    height: 34px;
}
/* When the cursor hovers over the button, make it bright green */
.accountButton:hover
{
    background-color: #0ac000;
}


/* For the image set behind the store logo */
.login_background 
{
    /* No matter what, let the image start at the top left of the screen and go all the way across */
    position: absolute;
    left: 0%;
    top: 0%;
    /* Percentages used here instead of pixels because upon opening the page on another browser, the image did not span completely across the screen;
        only let the image take up a little over half the screen */
    width: 100%;
    height: 55.5%;
    /* Set the image to that of various produce in a grocery store - obtained as a stock image through Canva */
    background: url("./Grocery Store - Canva.png") no-repeat center center / cover;
  }

/* For the store logo */
.login_logo 
{
    /* No matter what, let the image stay at the middle top of the screen */
    position: absolute;
    left: 32%;
    top: 0%;
    /* Let the logo be 500 by 500 pixels */
    width: 500px;
    height: 500px;
    /* Set the image to that of the store logo, created in Canva */
    background: url("./Logo-1.png") no-repeat center center / cover;
}



/* For the credential text fields:
    - both have a 1-pixel black border all around (border/border-radius - as referenced from: https://www.w3schools.com/css/css_form.asp) 
    - both are filled with a pale gray color
    - both are 475 by 36 pixels in size (width/height - as referenced from: https://stackoverflow.com/questions/21506276/how-do-i-make-the-text-box-bigger-in-html-css)
*/

/* ID */
#loginbox
{
    border: 1px solid black;
    border-radius: 4px;

    background-color:#FAFBFF;

    /* No matter what, have the ID text field at the lower center part of the screen */
    position: absolute;
    left: 32%;
    top: 70%;
    width: 475px;
    height: 36px;
}
/* Password */
#loginbox2
{
    border: 1px solid black;
    border-radius: 4px;

    background-color:#FAFBFF;

    /* No matter what, have the password text field at the lower center part of the screen, directly under the ID field */
    position: absolute;
    left: 32%;
    top: 79%;
    width: 475px;
    height: 36px;
}




/* For the credential text field labels: 
    - both are bold Helvetica, size 30 and in black */

/* ID */
#idLabel
{
    font-family: 'Helvetica';
    font-size: 30px;
    color: black;
    font-weight: bold;

    /* No matter what, have the "ID#" label line up with the corresponding text field */
    position: absolute;
    left: 25%;
    top: 67%;
}
/* Password */
#passLabel
{
    font-family: 'Helvetica';
    font-size: 30px;
    color: black;
    font-weight: bold;
    /* No matter what, have the "Password" label line up with the corresponding text field */
    position: absolute;
    left: 20%;
    top: 76%;
}

/* For the "Log In" button */
.loginButton
{
    /* Make the button green;
       Referenced from: https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_color */
     background-color:#61A25C;

     /* Make the font Helvetica, size 20, and white */
     font-family: 'Helvetica';
     font-size: 20px;
     color: white;
     font-weight: normal;
 
    /* No matter what, have the button be at the lower center part of the screen, centered a little ways under the credential text fields */
     position: absolute;
     left: 39%;
     top: 91%;
     /* Make the button 280 by 40 pixels */
     width: 280px;
     height: 40px;
 }
/* When the cursor hovers over the button, make it bright green */
.loginButton:hover
{
     background-color: #78e271;
}


/* TODO: CSS for inventory page */
